.mailbox {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}
.mailbox-list {
  flex: 1;
  padding: 0;
}
.mailbox-messge {
  flex: 2;
  border-left: 1px solid #ccc;
  height: 100vh;
}
.mailbox-list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
  display: block;
}
.mailbox-list-item.unread {
  background-color: #f6f6f6;
}
.mailbox-list-item.read {
  background-color: #fff;
}
.mailbox-list-item-sender {
  margin: 5px;
  padding-right: 10px;
  font-size: 16px;
  pointer-events: none;
}
.mailbox-list-item-msg {
  height: 39px;
  overflow: hidden;
  margin-bottom: 5px;
  pointer-events: none;
}
.mailbox-list-item-date {
  text-align: right;
  color: #666;
}
.mailbox-list-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.mailbox-list-delete img {
  width: 15px;
  height: 15px;

}
.mailbox-empty {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.message-details {
  background: #f4f4f4;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
}
.message-sender {
  flex: 1;
}
.message-date {
  align-items: flex-end;
}
.message-content {
  padding: 10px;
}
.message-deleted {
  font-size: 20px;
  margin: 15px 0 10px 20px;
}
.message-read-btn {
  padding: 5px 10px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  background: #ff9059;
  color: #fff;
  border: 1px solid #ff9059;
  outline: 0;
  cursor: pointer;
}
.loading-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 30px auto;
  border-radius: 50%;
  border: 5px solid #ff9059;
  border-color: #ff9059 transparent #ff9059 transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
